* {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0d1117;
  color: #c9d1d9;
  overflow: hidden;
}

.box {
  width: 400px;
  height: 100vh;
}

.box .top {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top input {
  width: 250px;
  padding: 5px 5px;
  background-color: #0d1117;
  border: 1px solid #30363d;
  outline: none;
  border-radius: 6px;
  color: #c9d1d9;
}

.top button {
  padding: 5px;
  width: 70px;
  background-color: #21262d;
  border: 1px solid rgba(240,246,252,0.1);
  cursor: pointer;
  color: #c9d1d9;
  margin-left: 10px;
  border-radius: 6px;
  font-weight: 500;
}

.bottom img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid #30363d;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.bottom .user {
  color: #c9d1d9;
  font-size: 26px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.bottom .username {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 20px;
  opacity: 80%;
}

.bottom .bio {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}

.bottom .followers {
  margin-bottom: 6px;
  font-weight: 300;
  opacity: 80%;
}

.followers span {
  font-weight: 500;
}

.bottom .location {
  margin-bottom: 6px;
}

.bottom .blog a{
  color: #c9d1d9;
  text-decoration: none;
}

.blog a:hover {
  color: #58a6ff;
  text-decoration: underline;
}

@media screen and (max-width: 450px) {
  
  .box {
    width: 250px;
  }

  .bottom img {
    width: 250px;
    height: 250px;
  }
}